form{
    margin-top: 3rem;
    margin-left: 3rem;
}

.submitButton{
    background-color: #1a73e8;
    border: none;
    color: white;
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    height: 2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 4px;
}

.employeesList{
    margin-top: 3rem;
    margin-left: 3rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }