form{
    margin-top: 3rem;
    margin-left: 3rem;
}

.submitButton{
    background-color: #1a73e8;
    border: none;
    color: white;
    margin-left: 1.5rem;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    height: 2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 4px;
}

#employeesList{
    margin-top: 3rem;
    margin-left: 3rem;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  #deleteBtn{
    background-color: #1a73e8;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }

  .operations{
    display: inline-flex;
  }

  .searchBar{
    display: inline-flex;
    margin-bottom: 0.5rem;
  }

  #searchEmployees{
    width: 25%;
    font-size: 16px;
    padding: 0.7rem 0.5rem 0.2rem 1rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    margin-left: 28rem;
    border-right: none;
    border-radius: 0.5rem 0 0 0.5rem;
    margin-top: 0.5rem;
  }

  .searchIcon{
    padding: 8px 12px;
    font-size: 14px;
    color: #555;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    margin-top: 0.5rem;
  }

  button{
    background-color: #1a73e8;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    margin-left: 2rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 4px;
  }

  .sortEmployeesButtons{
    margin-left: 9rem;
    margin-top: 0.5rem;
  }